body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    display: flex;
    justify-content: center;
    
}
.green {
    background-color: #16a085;
    height: 300px;
    width: 550px;
    display: flex;
    justify-content: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 200px;
}
.white {
    background-color: white;
    margin-top: 40px;
    width: 40vh;
    margin-bottom: 70px;
}